.logoharmoni{
    width:60%;
    margin:auto;
    display: block;
}
.rlogo{
    margin:auto;
    display: block;
    margin-top:5%;
    width: 100%;

}
.gbr_register{
    width:50%;
    height: 50%;
    position: relative;
    left:0;

}
.form-label-profil{
   position: relative;
   left:68%;
}
.submit_register{
    float: right;
}
.borderpage{
    background:white;
    padding: 1%;
    margin-bottom: 1%;
}

.pcoded-main-container{
    background: #b2bec3;
}
.col-md-12{
    background: white;
    margin-bottom: 1%;
}
.borderbawah{
    background: white;
    height:100%;
}

.bgkanan{
    background: white;
    padding:3%;

}

.bg-box{
    background: #3498db;
}
.mr-2{
    text-align: center;
    padding: 1%;
}
.menudashboard:hover{
color: white;
text-decoration: none;
list-style: none;
}
.bordertable{
    border:1px solid black;
    background: #0abde3;
    color: white;
}
.gbr_dasboard{
    width:30%;
    /* height: 30%; */
}
.coverkonten{
    background: white;
    padding:2%;
}

.fmanagement{
  margin-top:5%;
  margin-bottom: 10%;
}
.my-custom-scrollbar {
  position: relative;
  width: 800px;
  height: 400px;
  overflow: auto;
}

/* //css boostrap min css (padding:.5rem 1rem) */
